
<div class="sen">
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Welcome
</button>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">::::::::::::::::::::::::::::Write something on Username as Description and Password as your name::::::::::::::::::::::</h4>
      </div>
      <%= simple_form_for Idea.new do |f| %>
        <div class="modal-body">
          <%= f.input :Username %>
          <%= f.input :Password %>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div class="Shisir">
<% @ideas.each do |idea| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>
        <p><%= idea.Username %></p>
        <small>by <%= idea.Password %></small>
      </blockquote> 
       <br>
       <%= link_to 'Delete', idea_path(idea), method: :delete , class: 'btn btn-sm btn-danger', data: {confirm:"are you sure?"}%>
       <%= link_to 'Revise', edit_idea_path(idea), method: :get , class: 'btn btn-sm btn-success'%>
   
      
    </div>
  
</div>

<%end%>
<div class = "text-center">
  <%= will_paginate @ideas %>
</div>




